@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f6f5f7;
}

li,
a {
  list-style: none;
}

a {
  text-decoration: none;
}
